.with-before::before {
    content: 'justbefore';
}
.with-after::after {
    content: 'justafter';
}
.with-both::before {
    content: 'bothbefore';
}
.with-both::after {
    content: 'bothafter';
}

#dom-node {
    background-color: white;
    font-family: Arial;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: -1px;
}
